<div class="w-full h-auto p-8 flex flex-col gap-y-8">

    <div class="w-full h-auto flex justify-start items-start">
        <h2 class="text-5xl">{{ section.settings.section_heading }}</h2>
    </div>

    <div class="flex">
        <div class="w-1/2 flex flex-col justify-start items-start">
            <div class="w-auto h-auto px-8 py-4" style="background-color: #A89A8C;">
                <h3 class="text-3xl">{{ section.settings.column_heading_first }}</h3>
            </div>

        </div>
        <div class="w-1/2 flex flex-col justify-start items-start">
            <div class="w-auto h-auto px-8 py-4" style="background-color: #A89A8C;">
                <h3 class="text-3xl">{{ section.settings.column_heading_second }}</h3>
            </div>
        </div>
    </div>

</div>

{% schema %}
{
"name": "featured-column",
"settings": [
{
"type": "text",
"id": "section_heading",
"label": "Titolo sezione",
"default": "Company",
"info": "Inserisci qui il titolo della sezione"
}, {

"type": "text",
"id": "column_heading_first",
"label": "Titolo colonna",
"default": "About Us",
"info": "Inserisci qui il titolo della colonna"
}, {
"type": "text",
"id": "column_heading_second",
"label": "Titolo colonna",
"default": "Our People",
"info": "Inserisci qui il titolo della colonna"
}

]
}
{% endschema %}