<div class="w-full h-auto p-8 flex flex-col gap-y-12">

  <div class="w-full h-auto flex justify-start items-start p-4">
    <h2 class="text-5xl">{{ section.settings.section_heading }}</h2>
  </div>

  <div class="w-full h-auto relative bg-secondary"></div>
</div>


{% schema %}
  {
    "name": "events",
    "settings": [
      {
        "type": "text",
        "id": "section_heading",
        "label": "Titolo sezione",
        "default": "Events",
        "info": "Inserisci qui il titolo della sezione"
      }
    ]
  }
{% endschema %}