<div class="w-full h-auto p-8 flex flex-col gap-y-12">
  <div class="w-full h-auto flex justify-start items-start p-4">
    <h2 class="text-5xl">{{ section.settings.section_heading }}</h2>
  </div>

  {% for block in section.blocks %}
    {% if block.type == 'old_events' %}
      <div class="w-full h-auto relative bg-bg-secondary">
        <h2 class="absolute right-0 top-0 text-3xl font-bold uppercase">Relive our Events</h2>
      </div>
    {% elsif block.type == 'oncoming_events' %}
      <div class="w-full h-auto relative bg-bg-secondary flex flex-col gap-y-8 p-4">
        <h2 class="absolute right-0 top-0 text-3xl font-bold uppercase">Save the date</h2>
        <div class="flex flex-row gap-x-4 items-start justify-start">
          <div class="flex flex-row gap-x-2 items-start justify-start">
            {% render 'calendar' %}
            <p class="text-base font-bold">{{ block.settings.event_date }}</p>
          </div>
          <div class="flex flex-row gap-x-2 items-start justify-start">
            {% render 'earth' %}
            <p class="text-base font-bold">{{ block.settings.event_place }}</p>
          </div>
        </div>
        <div class="flex items-start justify-start">
          <p class="text-base">{{ block.settings.event_description }}</p>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

{% schema %}
  {
    "name": "events",
    "settings": [
      {
        "type": "text",
        "id": "section_heading",
        "label": "Titolo sezione",
        "default": "Events",
        "info": "Inserisci qui il titolo della sezione."
      }
    ],
    "blocks": [
      {
        "type": "old_events",
        "name": "Old Events",
        "settings": [
          {
            "type": "text",
            "id": "event_date",
            "label": "Data evento",
            "default": "26/06/2024",
            "info": "Inserisci qui la data dell'evento."
          }, {
            "type": "text",
            "id": "event_place",
            "label": "Luogo evento",
            "default": "Subotica",
            "info": "Inserisci qui il luogo dell'evento."
          }, {
            "type": "textarea",
            "id": "event_description",
            "label": "Descrizione evento",
            "default": "Lorem Ipsum....",
            "info": "Inserisci qui la descrizione dell'evento."
          }
        ]
      }, {
        "type": "oncoming_events",
        "name": "Oncoming Events",
        "settings": [
          {
            "type": "text",
            "id": "event_date",
            "label": "Data evento",
            "default": "26/06/2024",
            "info": "Inserisci qui la data dell'evento."
          }, {
            "type": "text",
            "id": "event_place",
            "label": "Luogo evento",
            "default": "Subotica",
            "info": "Inserisci qui il luogo dell'evento."
          }, {
            "type": "textarea",
            "id": "event_description",
            "label": "Descrizione evento",
            "default": "Lorem Ipsum....",
            "info": "Inserisci qui la descrizione dell'evento."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "events",
        "category": "Custom"
      }
    ]
  }
{% endschema %}