<div class="w-full h-auto">
        <div class="w-full  p-8 text-center bg-bg-secondary flex flex-col gap-y-8">
            <h2 class="text-2xl i text-center">Did you Know?</h2>
            <p class="text-sm italic">Adriana.TEX is part of the <strong>ONIVERSE</strong> world, lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            <a href="#" class="uppercase text-base font-bold underline">Discover More</a>
        </div>
</div>