<div class="w-full h-auto fixed left-0 right-0 top-0">
     <div class="w-full h-auto flex flex-row">
        <div class="flex-1 h-auto flex flex-col gap-y-4">
            <a href="#">Company</a>
            <a href="#">Benefits</a>
            <a href="#">Events</a>
            <a href="#">Jobs</a>             
        </div>
        <div class="w-32 h-32">
{% render 'menu' %}
        </div>
     </div>
</div>