<div class="w-full h-auto fixed left-0 right-0 top-0 z-50">

  <div class="w-full h-auto flex flex-row relative">

    <div class="flex-1 h-auto hidden sm:flex">
      <div class="w-full h-screen p-4 flex flex-col sm:flex-row gap-y-4 sm:gap-x-4 items-start justify-center sm:items-center sm:justify-end bg-black opacity-75">
        <h2 class="text-white text-3xl">{{ section.settings.company }}</h2>
        <a href="#" class="text-white">Company</a>
        <a href="#" class="text-white">Benefits</a>
        <a href="#" class="text-white">Events</a>
        <a href="#" class="text-white">Jobs</a>
      </div>
    </div>

    <div class="w-32 h-auto flex items-center justify-end cursor-pointer absolute right-4 top-4 z-40">
      {% render 'menu' %}
    </div>

  </div>
</div>

{% schema %}
  {
    "name": "navbar",
    "settings": [
      {
        "type": "text",
        "id": "company",
        "label": "Company",
        "default": "Adriana.tex d.o.o",
        "info": "Inserisci qui il nome della compagnia."
      }
    ]
  }
{% endschema %}