<div class="w-full h-auto fixed left-0 right-0 top-0 z-50">
    <div class="w-full h-auto flex flex-row p-4 ">
        <div class="flex-1 h-auto flex flex-row gap-y-4 items-center justify-end">
            <a href="#">Company</a>
            <a href="#">Benefits</a>
            <a href="#">Events</a>
            <a href="#">Jobs</a>
        </div>
        <div class="w-32 h-auto flex items-center justify-end">
            {% render 'menu' %}
        </div>
    </div>
</div>