<div class="container h-auto flex items-start justify-center">
    <div class="w-800 h-800 flex flex-col gap-y-8">
        <div class="w-full h-90-percent flex flex-row overflow-hidden">
            {% assign slider_imgs = "slider_img_one,slider_img_two,slider_img_three,slider_img_four" |  split: ',' %}
            {% for slider_img in slider_imgs  %}
                {% assign slider_img_url = section.settings[slider_img] |  img_url: 'master' %}
                <div class="w-800 min-w-800 h-full">
                    <img class="object-cover w-full h-full slider-img" src="{{ slider_img_url }}"  alt="Slider Image {{ forloop.index }}">
                </div>
            {% endfor %}
        </div>
        <div class="w-full h-10-percent flex flex-row gap-x-4">
            {% render 'arrow-left' %}
            {% render 'arrow-right' %}
        </div>
    </div>
</div>

<script>
    //get my elements
    const arrows = Array.from(document.querySelectorAll('.arrow'));
    const slides = document.querySelectorAll('.slider-img');
    console.log(slides)
</script>


{% schema %}
  {
    "name": "slider",
    "settings": [
      {
        "type": "image_picker",
        "id": "slider_img_one",
        "label": "Immagine Slider",
        "info": "Inserisci immagine per slider."
      }, {
        "type": "image_picker",
        "id": "slider_img_two",
        "label": "Immagine Slider",
        "info": "Inserisci immagine per slider."
      }, {
        "type": "image_picker",
        "id": "slider_img_three",
        "label": "Immagine Slider",
        "info": "Inserisci immagine per slider."
      }, {
        "type": "image_picker",
        "id": "slider_img_four",
        "label": "Immagine Slider",
        "info": "Inserisci immagine per slider."
      }
    ]
  }
{% endschema %}